body {
  font-family: 'Roboto';
  font-style: normal; }

img {
  display: block; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 14px;
  transition: 0.2s linear;
  background: white;
  z-index: 999; }
  header .container {
    max-width: 1064px;
    margin: auto;
    align-items: center; }
    header .container a img {
      position: absolute;
      left: calc(50% - 40px);
      top: 16px; }
    header .container nav {
      display: flex;
      justify-content: space-between; }
      header .container nav .list {
        display: flex;
        align-items: center;
        padding-top: 5px; }
        header .container nav .list li {
          margin-right: 28px; }
          header .container nav .list lilast-child {
            margin-right: 0; }
          header .container nav .list li a {
            text-decoration: none;
            color: black;
            font-weight: 700;
            font-size: 16px;
            line-height: 26px; }
      header .container nav .list-ico {
        display: flex;
        align-items: center;
        padding-top: 5px;
        justify-content: center; }
