.label {
  display: none;
}

.banner {
  position: relative;
  background: #F0EFEB;
  margin-bottom: 60px;

  .container {
    max-width: 1064px;
    margin: auto;
    align-items: center;

    .main__banner {
      padding: 90px 0;
      display: flex;

      h1 {
        color: black;
        font-weight: 700;
        font-size: 60px;
        line-height: 70px;
        margin-bottom: 42px;
      }

      .main__subtitle {
        color: black;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 26px;
      }

      .main__link {
        display: inline-block;
        text-decoration: none;
        background: black;
        color: white;
        padding: 7px 23px;
        border: 1px solid black;
        border-radius: 100px;
        font-weight: 400;
        font-size: 17px;
        line-height: 20px;
      }
    }

    .container-img {
      position: relative;
      right: -100px;
      max-width: 599px;

      .main__pic {
        width: 100%;
      }
    }
  }
}

.guides__sellers {
  margin-bottom: 248px;

  .container {
    max-width: 1064px;
    margin: auto;
    align-items: center;

    .guides__title {
      text-align: center;
      margin-bottom: 27px;
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
    }

    .guides__subtitle {
      margin: auto;
      max-width: 632px;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      margin-bottom: 47px;
    }

    .guides__subtitle-second {
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      margin-bottom: 88px;
    }

    .sellers__title {
      text-align: center;
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 52px;
    }

    .cards {
      display: flex;
      justify-content: space-between;
      position: relative;
      max-width: 1071px;

      .card {
        max-width: 309px;
      }

      .card__pic {
        margin-bottom: 27px;
        width: 100%;
      }

      .card__title {
        text-align: center;
        margin: auto;
        max-width: 156px;
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;
        margin-bottom: 17px;
      }

      .card__subtitle {
        text-align: center;
        font-weight: 400;
        font-size: 17px;
        line-height: 20px;
        margin-bottom: 10px;
      }

      .card__link {
        display: block;
        text-align: center;
        margin: auto;
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;
        color: black;
      }
    }
  }
}

.cards__info {
  margin-bottom: 190px;

  .cards__info__space {
    padding: 76px 0 51px 0;
    background: rgba(204, 204, 204, 0.3);

    &:nth-child(2) {
      background: rgba(204, 204, 204, 0.6);
    }

    &:nth-child(2) {
      .cards__info__desc {
        margin-left: 0;
        margin-right: 50px;
        text-align: right;
      }
    }

    .container {
      max-width: 1064px;
      margin: auto;
      align-items: center;


      .info__container {
        display: flex;
        align-items: center;
        &:nth-child(2){
          .cards__info__desc{
            order: 2;
          }
          .img{
            order: 1;
          }
        }
        img {
          display: block;
          max-width: 100%;
          height: auto;
          &:first-child{
            order: 1;
          }
          &:last-child{
            order: 2;
          }
        }

        .cards__info__desc {
          max-width: 498px;
          margin-left: 50px;
          &:first-child{
            order: 1;
          }
          &:last-child{
            order: 2;
          }
          h2 {
            font-weight: 700;
            font-size: 36px;
            line-height: 42px;
            margin-bottom: 31px;
          }

          p {
            font-weight: 400;
            font-size: 36px;
            line-height: 42px;
            margin-bottom: 40px;
          }

          a {
            color: black;
            font-weight: 700;
            font-size: 17px;
            line-height: 20px;
          }
        }

      }
    }
  }
}

.circles {
  padding-bottom: 290px;

  .container {
    max-width: 1064px;
    margin: auto;
    align-items: center;

    h2 {
      font-weight: 400;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      margin-bottom: 69px;
    }

    .circle__wrap {
      display: flex;
      justify-content: center;
      margin-bottom: 111px;
      flex-wrap: wrap;

      .circle__wrap-cont {
        width: 33%;
        text-align: center;
        &:first-child{
          margin-bottom: 111px;
        }
        &:nth-child(2) {
          .circle {
            background: #33D3BC;
          }
        }

        &:nth-child(3) {
          .circle {
            background: #18A5C6;
          }
        }

        &:nth-child(4) {
          .circle {
            background: #D38F62;
          }
        }

        &:nth-child(5) {
          .circle {
            background: #F94C43;
          }
        }

        &:nth-child(6) {
          .circle {
            background: #D399FF;
          }
        }
      }

      .circle {
        background: #21F7EC;
        border: none;
        border-radius: 50%;
        height: 70px;
        width: 70px;
        margin: auto;
        margin-bottom: 26px;
      }

      h4 {
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
      }
    }

    h3 {
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
    }
  }
}

.people {
  height: 480px;
  background: #F0F0F0;

  .container {
    max-width: 1064px;
    margin: auto;
    align-items: center;

    .people__wrap {
      display: flex;
      justify-content: space-between;
      position: relative;
      top: -180px;

      .people__card {
        img {
          display: block;
          max-width: 100%;
          margin-bottom: 35px;
        }

        h2 {
          margin: auto;
          max-width: 248px;
          font-size: 22px;
          line-height: 26px;
          text-align: center;
          letter-spacing: 0.6px;
          margin-bottom: 40px;
        }

        p {
          font-weight: 400;
          font-size: 20px;
          line-height: 23px;
          text-align: center;
          margin-bottom: 44px;
        }

        a {
          display: block;
          text-align: center;
          font-weight: 700;
          font-size: 18px;
          line-height: 21px;
          color: black;
        }
      }
    }
  }
}

.form {
  padding: 79px 88px;
  .container {
    max-width: 1064px;
    margin: auto;
    align-items: center;

    h2 {
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      margin-bottom: 9px;
    }

    p {
      font-weight: 700;
      font-size: 17px;
      line-height: 20px;
      text-align: center;
      margin-bottom: 26px;
    }

    form {
      .form__wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 18px;

        .name {
          max-width: 153px;
          margin-right: 60px;
          .field{
            width: 100%;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #A0A0A0;
            padding: 12px 0 12px 8px ;
            border: 1px solid #000000;
          }
        }
        .last_name{
          max-width: 153px;
          .field{
            width: 100%;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #A0A0A0;
            padding: 12px 0 12px 8px ;
            border: 1px solid #000000;
          }
        }
      }

      .email {
        margin: auto;
        margin-bottom: 16px;
        max-width: 366px;
        .field{
          width: 100%;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: #A0A0A0;
          padding: 12px 0 12px 8px ;
          border: 1px solid #000000;
        }
      }

      button {
        padding: 8px 23px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: white;
        display: block;
        margin: auto;
        background: #000000;
        border: 1px solid #000000;
        border-radius: 100px;
      }
    }
  }
}
@media screen and (max-width: 767px){
  .banner{
    .container{
      .main__banner{
        display: block;
        .main__text{
          h1{
            text-align: center;
          }
          p{
            text-align: center;
          }
          .main__link{
            display: block;
            margin: auto;
            max-width: 80px;
          }
        }
        .container-img{
          position: static;
          margin: auto;
        }
      }
    }
  }
  .cards__info .cards__info__space .container .info__container{
    flex-wrap: wrap;
  }
  .cards__info .cards__info__space .container .info__container img{
    margin: auto;
    &:first-child{
      order: 2;
    }
    &:nth-child(2){
      order: 2;
    }

    &:last-child{
      order: 1;
    }
  }
  .cards__info .cards__info__space .container .info__container .cards__info__desc{
    text-align: center;
    margin: auto;
    &:first-child{
      order: 2;
    }
    &:nth-child(2){
      order: 1;
    }
    &:last-child{
      order: 1;
    }
  }
  .people .container .people__wrap{

  }
}
