body{
    font-family: 'Roboto';
    font-style: normal;
}
img{
    display: block;
}
/* header styles start */
header{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 14px;
    transition: .2s linear;
    z-index: 999;
}

.header_active{
    background: pink;
}
.header__burger{
    display: none;
}
nav{
    display: flex;
    justify-content: space-between;
}
.container{
    max-width: 1064px;
    margin: auto;
}
.list{
    display: flex;
    align-items: center;
    padding-top: 5px;
}
.list-ico{
    display: flex;
    align-items: center;
    padding-top: 5px;
}
.list__item{
    margin-right: 28px;
}
.list__item:last-child{
    margin-right: 0;
}
.item__link{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
}
.logo{
    position: absolute;
    left: calc(50% - 40px);
    top: 16px;
}
/* header styles end */

/* Main banner styles start */
.banner{
    position: relative;
    background: #F0EFEB;
    margin-bottom: 60px;
}
h1{
    color: black;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 42px;
}
.main__subtitle{
    color: black;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 26px;
}
.main__pic{
    width: 100%;
}
.main__banner{
    padding: 90px 0;
    display: flex;
}
.container-img{
    position: relative;
    right: -129px;
    max-width: 599px;
}
.main__link{
    display: inline-block;
    text-decoration: none;
    background: black;
    color: white;
    padding: 7px 23px;
    border: 1px solid black;
    border-radius: 100px;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
}
/* Main banner styles end */

/* Guides and sellers styles start */
.guides__sellers{
    margin-bottom: 248px;
}
.guides__title{
    text-align: center;
    margin-bottom: 27px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}
.guides__subtitle{
    margin: auto;
    max-width: 632px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin-bottom: 47px;
}
.guides__subtitle-second{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin-bottom: 88px;
}
.sellers__title{
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 52px;
}
.cards{
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 1071px;
}
.card{
    max-width: 309px;
}
.card__pic{
    margin-bottom: 27px;
    width: 100%;
}
.card__title{
    text-align: center;
    margin: auto;
    max-width: 156px;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 17px;
}
.card__subtitle{
    text-align: center;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 10px;
}
.card__link{
    display: block;
    text-align: center;
    margin: auto;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: black;
}
.owl-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 309px;
}
.owl-stage{
    display: flex;
    align-items: center;
}
.owl-dots{
    position: absolute;
    bottom: -30px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.owl-dots .owl-dot span{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: gray;
    border-radius: 50%;
    border: none;
    margin-right: 10px;
}
.owl-dots .active span{
    align-items: center;
    width: 15px;
    height: 15px;
    background: red;
    border-radius: 50%;
    border: none;
    margin-right: 10px;
}
/* Guides and sellers styles end */
@media screen and (max-width: 767px){
    header{
        padding-bottom: 50px;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }
    .header__burger span{
        position: absolute;
        background-color: black;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
    }
    .header__burger:before,
    .header__burger:after{
        content: '';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 2px;
    }
    .header__burger:before{
        top: 0;
    }
    .header__burger:after{
        bottom: 0;
    }

    .logo{
        position: relative;
    }
    .list{
        display: block;
    }
    nav{
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: green;
        z-index: 10;
        padding: 75px;
    }
    .list__item{
        width: 100%;
        margin-right: 0;
    }
}
